body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

nav {
    background-color: #333;
    color: white;
    padding: 1rem;
}
h2,p {
    text-align: center;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6347;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

section p {
    line-height: 1.6;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    header h1 {
        font-size: 2em;
    }

    section {
        padding: 15px;
        margin: 15px 0;
    }

    section h2 {
        font-size: 1.5em;
    }

    footer {
        padding: 15px 0;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 5px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    header h1 {
        font-size: 1.5em;
    }

    section {
        padding: 10px;
        margin: 10px 0;
    }

    section h2 {
        font-size: 1.2em;
    }

    footer {
        padding: 10px 0;
    }
}